<!DOCTYPE html>
<html ng-app>
	<head>
		<!--CDN linked: Bootsrap, Angular.JS/Firebase.JS etc-->
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		
		
		<!--local links-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Grocery Store App</title>
		
		<link rel="stylesheet" type="text/css" href="main-min.css">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	</head>

	<body>
		<div i=d"wrapper">
			
			<div id="content">
				<header>
					<h1>Grocery List</h1>
				</header>

				<section id="main" ng-controller="ShopCtrl">
					<span>{{remaining()}} of {{items.length}} remaining</span>
					[ <a href="" ng-click="archive()">Got it!</a>]
					
					<form ng-submit="addItem()">
					<input type="text" ng-model="itemText" size="30" placeholder="add new item here" required>
					<input class="btn btn-primary btn-sm" type="submit" value="add">
					<input class="btn btn-primary btn-sm" id="slctAll" type="button" value="select all" ng-click="selectAll()">
					<ul class="unstyled">
						<li ng-repeat="item in items">
							<input type="checkbox" ng-model="item.done">
							<span class="done-{{item.done}}">{{item.text}}</span>
						</li>
					</ul>
					
						
					</form>
				</section>

			</div>

		</div>
		<!-- ================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="application.js"></script>
	</body>
	<script type="text/javascript" src="application.js"
</html>