
body {
	
	
	background: url('images/farmer_market_.jpg');
	background-size: cover;
	z-index: -2;
}	
	
div#wrapper {
	margin:30px;

}

div#content {
	height: 800px;
	width: 600px;
	margin: 10px auto;
	background-color: rgba(255,255,255,0.85);
	border-radius: 10px;
	display: block;
	padding: 10px;

}

ul {
	text-align: center;
	margin: 10px auto;
}

li {
	
	padding: 10px;
	margin: auto;
	background-color: hsla(187, 78%, 88%, 0.68);
	list-style: none;
	width: 480px;
}

header {
	position: relative;
	display: block;
	font: normal 40px/40px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: center;
	margin: 10px auto;
}

input {
	margin-bottom: 20px;
}

.done-true {
	text-decoration: line-through;
	color: grey;
}

form {
	text-align: center;
}

.unstyled {
	text-align: left;
}